@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html, body{
    height: 100%;
    width: 100%;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Indie Flower";
    color: white;
    position: relative;
}

/* Background settings */
section{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(assets/bg-space.jpg) center/cover no-repeat;
    animation: animateBg 50s linear infinite;
    z-index: 1;
}


span{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255,255,255,0.1), 0 0 0 8px rgba(255,255,255,0.1), 0 0 20px rgba(255,255,255,1);
    animation: animate 3s linear infinite;
}

span::before{
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent);
}



span:nth-child(1){
    top: 0;
    right: 0;
    left: initial;
    animation-delay: 0;
    animation-duration: 1s;
}

span:nth-child(2){
    top: 0;
    right: 80px;
    left: initial;
    animation-delay: 0.2s;
    animation-duration: 3s;
}

span:nth-child(3){
    top: 80;
    right: 80px;
    left: initial;
    animation-delay: 0.4s;
    animation-duration: 2s;
}

span:nth-child(4){
    top: 0;
    right: 180px;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 1.5s;
}

span:nth-child(5){
    top: 0;
    right: 400px;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

span:nth-child(6){
    top: 0;
    right: 600px;
    left: initial;
    animation-delay: 1s;
    animation-duration: 3s;
}

span:nth-child(7){
    top: 300;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 1.75s;
}

span:nth-child(8){
    top: 0px;
    right: 700px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 1.25s;
}

span:nth-child(9){
    top: 0px;
    right: 1000px;
    left: initial;
    animation-delay: 0.75s;
    animation-duration: 2.25s;
}

span:nth-child(10){
    top: 300;
    right: 450px;
    left: initial;
    animation-delay: 2.75s;
    animation-duration: 2.25s;
}
 

/* Tic Tac Toe Game */

.gameContainer{
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px;
    max-width: 100%; /*Previne que o container seja maior que a viewport*/
}

#title{
    font-size: 2rem; /* vai me ajudar na responsividade*/
    margin-bottom: 20px;
}

.cellContainer{
    display: grid;
    grid-template-columns: repeat(3, minmax(60px, 100px)); /*Responsividade nas células*/
    max-width: 300px;
    margin: auto;
    box-shadow: -20px 13px 0 2px #ffffffb9/*After I change*/
}

.cell{
    display: flex;
    align-items: center;
    justify-content: center;
    
    aspect-ratio: 1 / 1; /*Vai manter a proporção de "frame" das células. Ou seja, vai fazer com que eles continuem quadradas*/
    
    border: 2px solid white;
    font-size: 4rem;
}

#statusText{
    margin-top: 20px;
    font-size: 1.5rem;
}

#restartBtn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(6, 37, 173, 0.719);
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid black;
    transition: background-color 0.3s;
    
    
}

#restartBtn:hover{
    background-color: rgba(33, 12, 226, 0.5);
}


/* Cursors */
.hand-pointer{ cursor: url("assets/hand-pointer.svg"), auto;}

.x-cursor{ cursor: url("assets/x-cursor.svg"), auto;}

.circle-cursor{ cursor: url("assets/circle-cursor.svg"), auto;}

/* Media Query's */
@media(min-width:319px) and (max-width:480px){ /*Mobile*/    
    #title{ font-size: 2rem;}
    
    .cell{ font-size: 3.5rem;}
    
    #statusText{ font-size: 2rem;} 
  } 

@media(min-width:481px) and (max-width:1200px){ /*iPads and Tablets*/
  
}

    
@media(min-width:1201px) and (max-width: 1600px){ /* Laptops */

}
      
     
@media(min-width:1601){  /* Desktops */
}



/* Animation Space Background */

@keyframes animateBg{
    0%, 100%{
        transform: scale(1);
}
    50%{
        transform: scale(1.2);
    }
}


@keyframes animate{
    0%{
        transform: rotate(315deg) translate(0);
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: rotate(315deg) translate(-1000px);
        opacity: 0;
    }
}


